<app-menu>
 
</app-menu>  

<div class="contenedor">

  <!-- Indica el que el componente va a tomar el valor del input -->
 <!-- <input type="text" (input)="title = $event.target.value"/> -->
 <!-- <div>
   <input type="checkbox" checked (change)="ocultar = !ocultar"> Ocultar
 </div> -->
  <!-- <app-ciclo-de-vida *ngIf="ocultar" [nombrePersona]="title"></app-ciclo-de-vida> -->
  <!-- <app-rating (rated)="manejarRated($event)"></app-rating> -->
  <!-- <h1>En cines</h1> -->

  <!-- con el decorador @input() se declara debajo la variable "peliculas" 
 para asi usar el componente en cualquier otro componente y ue asi sea reutilizable --> 
 
 <!-- por ejemplo peliculas se le esta asignando otro objeto del mismo componente que es peliculasproximosestrenos -->
 
 <h1>En cines</h1>  

  <app-listado-peliculas [peliculas]="peliculasEnCines"></app-listado-peliculas>  
 
  <h1>Futuros estrenos</h1>  
 
  <app-listado-peliculas [peliculas]="peliculasProximosEstrenos"></app-listado-peliculas>   
 
 <!-- <input type="file" style="display: none;" #cargador>
 
 <button (click)="cargador.click()">Cargar Archivo </button> -->
</div>
